body {
    background-color: #3c1900;
}

h1, h4 {
    color: white;
}

.btn {
    width: 80%;
    max-width: 300px;
}

img {
    max-width: 100%;
    height: auto;
}


.custom-btn {
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    border-color: white;
    background-color: #3c1900;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}